header.main-header
    .navbar.navbar-dark.bg-dark.navbar-expand-lg
        include ../includes/main-menu
    
    .container.d-flex.justify-content-sm-center.justify-content-lg-between
        .slogan.d-none.d-sm-none.d-md-none.d-lg-block
            h1.main-title The biggest <br>Community on <br>The internet
        .form-container
            include ../components/form-joinus