header.main-header
    .navbar.navbar-dark.bg-dark.navbar-expand-lg
        include ../includes/main-menu
    
    .container.d-flex.justify-content-between
        .slogan
            h1.main-title The biggest <br>Community on <br>The internet
        .form-container
            include ../components/form-joinus