form(action="#").col-lg-6.form.form-header
    div
        h2.form__title.text-center JOIN US
        p.form__subtitle.text-center Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
    div
        .form-group
            label.form__label(for="emailJoinUs") EMAIL
            input.form-control#emailJoinUs(type="email")
        .form-group
            label.form__label(for="passwordJoinUs") PASSWORD
            input.form-control#passwordJoinUs(type="password")
        .form-group.form__actions    
            input.form__submit(type="submit", value="LOGIN")
            a.form__link(href="#") CREATE AN ACCOUNT