.container.gallery-container
    h2.text-center.title MEMBER'S GALLERY
    .row
        +gallery('fade.png', 'FADE', 'Dr. Someone, UX Designer')
        +gallery('lights.png', 'LIGHTS', 'Dr. Someone, UX Designer')
        +gallery('shades.png', 'SHADES', 'Dr. Someone, UX Designer')
        +gallery('frost.png', 'FROST', 'Dr. Someone, UX Designer')
        +gallery('rocks.png', 'ROCKS', 'Dr. Someone, UX Designer')
        +gallery('below.png', 'BELOW', 'Dr. Someone, UX Designer')