.container
    h2.text-center.title HOW IT WORK?
    +how-it-work('register.png', '1', 'REGISTER', 'Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.')
    +how-it-work('complete.png', '2', 'COMPLETE', 'Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.')
    
    +how-it-work('post.png', '3', 'POST', 'Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.')