mixin gallery(image, title, memberName)
    .gallery.col-md-6.col-lg-4
        a.__link(href="#")
            .gallery__image
                img.img-fluid(src=`assets/img/members_gallery/${image}`)
            .gallery__data 
                h3.gallery__title=title
                p.gallery__member-name=memberName