extends ../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Elephant, the biggest community the internet'

block main
  main(data-spy="scroll" data-target="#main-menu" data-offset="0")
    include ../includes/testimonies
    include ../includes/members-gallery
    include ../includes/counter-section
    include ../includes/how-it-work
