-let pageTitle = 'Home'
-let siteName = 'Elephant'
-let pageDescription = 'Elephant site, the biggest community on the internet'


-
  let sections = [
    {
      title: 'TESTIMONIES',
      url: '/#testimonies'
    },
    {
      title: 'GALLERY',
      url: '/#gallery'
    },
    {
      title: 'HOW IT WORKS',
      url: '/#how-it-works'
    },
    {
      title: 'CONTACT',
      url: '/#contact'
    },
  ]