-let pageTitle = 'Home'
-let siteName = 'Elephant'
-let pageDescription = 'Elephant site, the biggest community on the internet'


-
  let sections = [
    {
      title: 'Testimonies',
      url: '/#testimonies'
    },
    {
      title: 'Gallery',
      url: '/#gallery'
    },
    {
      title: 'How it works',
      url: '/#how-it-works'
    },
    {
      title: 'Contact',
      url: '/#contact'
    },
  ]