// Typography
$font-family: 'Montserrat', sans-serif;
    // Font-sizes
$fs-x-small: .6rem; // Label focus
$fs-small: .85rem; // testimonies comments
$fs-large: 1.8rem; // Steps how it work
$fs-default: 1rem;

// Colors
$primary-color: #F8E33D;
$second-color: #3B3B3B;
$gray-color: #F5F5F5;
$gray-color--alt: #E8E8E8;


// spacing
