// BG-COLORS
.navbar.bg-dark {
    background-color: transparent !important;

    @media (max-width: 991px) {
        background-color: var(--dark) !important;
    }
}

// Font-Colors
.main-menu__link.nav-link {
    color: #fff !important;
    &:hover, &:focus {
        color: rgba(#fff, .75) !important;
    }
}


// CAROUSEL TESTIMONIES
.user {
    min-height: 180px !important; // important pour re-écrire la règle de slick carousel

    @include media-breakpoint-down(md) { 
        min-height: 160px !important;
    }
}